.addWebView_container {
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.addWebView_addItem_container {
  width: 100%;
  height: 50px;
  margin: 0;
}

.addWebView_addItem_input {
  width: calc(100% - 70px);
  height: 100%;
  margin: 0;
  padding: 0 0 0 20px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: #FFFFFF;
}

.addWebView_addItem_addButton {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}

.addWebView_item_container {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px 0 10px 20px;
}

.addWebView_item_button {
  width: calc(100% - 70px);
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
}

.addWebView_item_deleteButton {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}
